/* Header */

body {
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.2065;
    background-color: rgba(128, 128, 128, 0.045);

}

.logo h3:hover{
    cursor: pointer;

}
.header-layout{
    height: 10vh;
    width: 100%;
    /* background-color: rgb(24, 116, 116); */
    border-top: 1px solid rgba(151, 151, 151, 0.767);
    box-shadow: 0px 0px 5px 0px grey;
    border-bottom: 1px solid rgba(151, 151, 151, 0.767);
    justify-content: center;
    align-items: center;
    /* margin-bottom: -1em; */
}

.nav-bar{
    display: flex;
    margin-right: 0.8rem;
    gap: 0.8rem;
    align-items: center; 
}

.footer-layout{
    text-align: center;    
    border-top: 1px solid rgba(151, 151, 151, 0.767);
    border-bottom: 1px solid rgba(151, 151, 151, 0.767);
    box-shadow:0px -1px 5px 0px grey;
    height: 5vh;
}

.logo{
    margin-left: 0.8rem;
}

.home-page{
height: 84.6vh;
background-image: linear-gradient(to right bottom, #e1ecec, #d2dddf, #c4cfd3, #b7c0c6, #aab2b9, #a1afba, #97abbb, #8da8bc, #7bb0c7, #64b9cc, #4ac1cb, #34c9c2);
}

.about-page{
    height: 84.6vh;
    background-image: linear-gradient(to right bottom, #e1ecec, #d2dddf, #c4cfd3, #b7c0c6, #aab2b9, #a1afba, #97abbb, #8da8bc, #7bb0c7, #64b9cc, #4ac1cb, #34c9c2);

} 
.about-page-content{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.home-page-content .mail-img{
    position: absolute;
    width: 150px;
    top: 150px;
    left:150px
}
.home-page-content .mail-img:hover{
    cursor: pointer;
}

.home-page-content .keep-img{
    width: 150px;
    position:absolute;
    right: 150px;
    top: 150px;
}
.home-page-content .keep-img:hover{
    cursor: pointer;
}

.home-icon-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
}
.home-page-mail-container .home-page-mail-header{
    position: absolute;
    width: 400px;
    top: 100px;
    left:50px
}
.home-page-note-container .home-page-note-header{

    width: 400px;
    position:absolute;
    right: 0px;
    top: 100px;
}


/* HEADER */

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo .logo-img{
    width: 80px
}

.logo .logo-head{
    font-size: 30px;
    font-weight:200;
    font-family: 'Times New Roman', Times, serif;
}
.logo .logo-img:hover{
    cursor: pointer;
}
