

<<<<<<< HEAD
.note-text-area input{
    border-radius: 0.8rem;
    width: 20em;
    height: 30px;
    box-shadow: 0px 0px 8px 1.5px rgba(66, 58, 58, 0.375);
    font-size: 14px;
    font-family: Roboto;
    color: rgb(32, 33, 36);
    padding-left: 16px;
    margin-bottom: 2em;
    border: none;    
}
=======
/* //*! inon have the same class name  */
.nav-bar-content{
    flex-direction: column;
}
/* //*! inon have the same class name */

/* note-preview */
>>>>>>> d9b04a4726d8033b130564431f0c7c5bf0074904


.note-preview {
    flex: 1 0 auto;
    margin: 0 1rem 1rem 0;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid gray;
    width: 200px;
}

.note-preview .note-list{
    /* position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    background-color:black;
    color:#feefc3 */
}

.note-preview .done{
    text-decoration: line-through;

}

.note-preview .note-img{
    border-radius: 0.8rem;
    width:10em;
    height: auto;
}

.note-preview iframe{
    border-radius: 0.8rem;
    width: 10em;
}

.note-preview .note-edit-container{
    display: flex;
    justify-content: space-between;
    margin:0.7em;
}
