.note-list{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* 
.notes-pinned-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.notes-unpinned-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */