.side-bar-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    line-height: 2.875;
    height: 100vh;
    width: 13%;
}

.side-bar-btn{
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    cursor: pointer;
    height: 3rem;
}

.side-bar-btn:hover{
    background-color: rgba(211, 211, 211, 0.492);
}
.active{
    background-color: #feefc3;
}

.active:hover{
    background-color: #feefc3;
}
.keep-note-notes-container{
    width: 87%
}
